# API details
API_SERVER_URL=""
API_DEV_SERVER= # true/false

# GCP AUTH
GMAIL_WEB_CLIENT_ID=""
GMAIL_WEB_CLIENT_SECRET=""
GMAIL_WEB_REDIRECT_URI=""

# LLM PROVIDERS CONFIG
GOOGLE_API_KEY=""
GROQ_API_KEY=""

# Langsmith Tracing
LANGSMITH_TRACING= # true/false
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# Redis db 
CLOUD_REDIS_STORE_HOST_URL=""
CLOUD_REDIS_STORE_HOST_PORT=
CLOUD_REDIS_STORE_HOST=${CLOUD_REDIS_STORE_HOST_URL}:${CLOUD_REDIS_STORE_HOST_PORT}
