# GCP AUTH
GCP_CREDS_FILE=
GCP_TOKEN_FILE=

# DATA SAVE
GMAIL_DATA_SAVE_FILE=

# LOG
LOG_TYPE="info"
LOG_FOLDER_NAME="logs"

# LLM PROVIDERS CONFIG
GOOGLE_API_KEY=""
GROQ_API_KEY=""

# Langsmith Tracing
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# Docker host
LOCAL_REDIS_STORE_HOST="redis://localhost:6379"
CLOUD_REDIS_STORE_HOST=""