.env
.env.secret
token.pickle
web_creds.json
emails.json
venv
log_dump
*.log
token.json
.langgraph_api
nextagents
.vscode
.qodo
redis_connection.json

dev-requirements.txt
thought_dump.txt

# Ignore Python cache files
__pycache__/
*.pyc