.env
.env.secret
token.pickle
web_creds.json
emails.json
venv
log_dump
*.log
token.json
.langgraph_api
nextagents
.vscode
.qodo
redis_connection.json

copilot_auto_commit_instructions.txt
dev-requirements.txt
thought_dump.txt
.zencoder
.pytest_cache
pygount_report.txt
# Ignore Python cache files
__pycache__/
*.pyc