.env
.env.secret
token.pickle
web_creds.json
emails.json
venv
logs/
*.log
token.json
.langgraph_api
nextagents
.vscode
.qodo
redis_connection.json

thought_dump.txt

# Ignore Python cache files
__pycache__/
*.pyc